<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <app-tv-chart-container [symbol] = "symbol"></app-tv-chart-container>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <app-grid (symbolChanged) = "onSymbolChanged($event)"></app-grid>
        </div>
    </div> 
    <div class="row">
        <app-monaco-editor (symbolChanged) = "onSymbolChanged($event)"></app-monaco-editor>
    </div>
</div>


