<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" (click)="onNavClick(lightChart)"> {{ techChart }} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onNavClick(techChart)"> {{ lightChart }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onNavClick(tradingChart)"> {{ tradingChart }}</a>
      </li>
    </ul>
  </div>
</nav>
<span [ngSwitch]="viewMode">
  <p *ngSwitchCase="techChart">
    <app-light-chart-container></app-light-chart-container>
  </p>
  <p *ngSwitchCase="lightChart">
    <app-tv-chart-container></app-tv-chart-container>
  </p>

  <p *ngSwitchCase="tradingChart">
      {{ viewMode }}
  </p>
  <p *ngSwitchDefault>
  </p>
</span>
